<div class="nav-bar">
    <div class="logo">
        <img class="nav-pencil" src=".//images/pencil-tip-svgrepo-com.svg">
        <p>Will-Do List</p>
    </div>
    <div class="links">
    <a href="/" class="hoverUp"><p class="selected-link" >Home</p></a>
    <a href="/myLists " class="hoverUp"><p class="selected-link">My lists</p></a>
    
    </div>
   <a href="/logout"class="hoverUp"  > <button class="log-out-button">Log out</button></a>
</div>